  *{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    font-family: arial;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


nav .button{
    background-color: #000;
    color: white;
    padding: 15px 25px;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: pointer;
}


.sidebar{
    width: 250px;
    height: 100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    padding:  20px;
    transform: scaleX(0);
    transition: 0.3s ;
    transform-origin: left;
}

.active{
    transform: scaleX(1);
}
